@import '_mixins.scss';

// COLORS
$font-stack: 'Open Sans', Arial, sans-serif !important;
$font-size-sm: 0.75rem;
$font-size-base: 0.875rem;
$font-size-lg: 1rem;
$color-black: #585858;
$color-white: #fff;
$color-blue: #2494d2;
$color-blue-2: #007bff;
$color-light-blue: #2794D1;
$color-lighter-blue: #ddefff;
$color-navy: #004969;
$color-nightblue: #1d4e96; // TODO: Change misspell nigthblue to nightblue
$color-alert: #fe6276;
$color-hint: #9b9b9b;
$color-hint-2: #a6a6a6;
$color-disabled: #d8d8d8;
$color-accent: #99ca3c;
$color-accent-2: #facd1a;
$color-white-smoke: #f9f9f9;
$color-skyblue-light: #e3f0fb;
$color-light-gray: #f1f1f1;
$color-lighter-gray: #f8f8f8;
$color-gray: #979797;

// MISCELLANEOUS
$radius: 4px;
