// BOOTSTRAP
@import '~bootstrap/scss/bootstrap.scss';
@import '_theme.scss';

// Custom Classes
.font-size-base {
  font-size: $font-size-base !important;
}

.primary-color-text {
  color: $color-black !important;
}

.primary-color-text-white {
  color: $color-white !important;
}

.secondary-color-text {
  color: $color-blue !important;
}

.hint-color-text {
  color: $color-hint !important;
}

.alert-color-text {
  color: $color-alert !important;
}

.cta-color-text {
  color: $color-blue !important;
}

.accent {
  color: $color-accent !important;
}

.accent-secondary {
  color: $color-accent-2 !important;
}

.color-white {
  color: $color-white !important;
}

.background-white {
  background: $color-white !important;
}

.background-white-smoke {
  background: $color-white-smoke !important;
}

.background-grey {
  background: #e4f2ff !important;
}

.bg-transparent {
  background: transparent !important;
}

.bg-skyblue--light {
  background: $color-skyblue-light !important;
}

.bg-skyblue {
  background: #2794d1;
}

.cursor-pointer {
  cursor: pointer;
}

// Backgrounds Colors

.bg--primary {
  background: $color-blue !important;
}
.bg--secondary {
  background: $color-nightblue !important;
}
.bg--success {
  background: $color-accent !important;
}
.bg--warning {
  background: $color-accent-2 !important;
}
.bg--alert {
  background: $color-alert !important;
}
.bg--disabled {
  background: $color-disabled !important;
}

//Logos

.brand--logo {
  background-image: url('../img/SVG/brand--logo-white.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.brand--logo-sm {
  width: 124px;
  max-width: 100%;
  height: 60px;
  max-height: 100%;
}
.brand--logo-md {
  width: 165px;
  max-width: 100%;
  height: 75px;
  max-height: 100%;
}
.brand--logo-lg {
  width: 200px;
  max-width: 100%;
  height: 82px;
  max-height: 100%;
}

// Buttons

// Form
.button--send {
  background: $color-blue;
  color: $color-white;
  width: 60px;
  min-width: 40px;
  max-width: 100%;
  height: 36px;
  &:after {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 1rem;
    content: '\f1d8';
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    place-items: center;
    height: 100%;
    color: #fff;
    cursor: pointer;
  }
}
.button--send-success {
  background: $color-accent;
}
.button--send-warning {
  background: $color-accent-2;
}
.button--send-alert {
  background: $color-alert;
}
.button--send-disabled {
  background: $color-disabled;
}

// Primary
.button {
  font-size: 0.875rem;
  font-weight: 700;
  color: $color-black;
  border-radius: 4px;
  border: 0;
  max-width: 100%;
  max-height: 100%;
  display: block;
  text-align: center;
  cursor: pointer;
  border: 2px solid;
  padding: 6px 10px;
}

// Sizes

.button--tiny {
  padding: 0px 10px;
  font-size: 0.75rem;
  font-weight: 600;
}
.button--md {
  width: 175px;
}
.button--lg {
  width: 250px;
}
.button--fit {
  width: fit-content;
}
.button--responsive {
  width: 100%;
  max-width: 100%;
}

// Colors

.button--primary {
  background: $color-blue;
  color: $color-white;
  border-color: $color-blue;
  &:hover,
  &:focus {
    background: $color-accent;
    border-color: $color-accent;
    a {
      color: $color-white;
    }
    color: $color-white;
  }
}
.button--success {
  background: $color-accent;
  color: $color-white;
  border-color: $color-accent;
  &:hover,
  &:focus {
    background: $color-accent-2;
    border-color: $color-accent-2;
    a {
      color: $color-black;
    }
    color: $color-black;
  }
}
.button--warning {
  background: $color-accent-2;
  color: $color-white;
  border-color: $color-accent-2;
  &:hover,
  &:focus {
    background: $color-accent;
    border-color: $color-accent;
    a {
      color: $color-white;
    }
    color: $color-white;
  }
}
.button--alert {
  background: $color-alert;
  color: $color-white;
  border-color: $color-alert;
  &:hover,
  &:focus {
    background: $color-blue;
    border-color: $color-blue;
    a {
      color: $color-white;
    }
    color: $color-white;
  }
}
.button--disabled {
  background: $color-disabled;
  color: $color-hint;
  border-color: $color-disabled;
  user-select: none;
  cursor: default;
}
.button--transparent {
  background: transparent;
  border-color: transparent;
  &:hover,
  &:focus {
    a {
      color: $color-blue;
    }
    color: $color-blue;
  }
}
.button--white {
  background: $color-white;
  border-color: $color-white;
  color: $color-black;
  &:hover,
  &:focus {
    background: $color-accent;
    border-color: $color-accent;
    a {
      color: $color-white;
    }
    color: $color-white;
  }
}

.button--gray {
  background: $color-disabled;
  border-color: $color-disabled;
  color: $color-hint;
  &:hover,
  &:focus {
    background: $color-alert;
    border-color: $color-alert;
    a {
      color: $color-white;
    }
    color: $color-white;
  }
}

// Outline Colors

.button--outline {
  background: transparent;
  border: 2px solid $color-blue;
  color: $color-blue;
}
.button--outline-success {
  color: $color-accent;
  border-color: $color-accent;
}
.button--outline-warning {
  color: $color-accent-2;
  border-color: $color-accent-2;
}
.button--outline-alert {
  color: $color-alert;
  border-color: $color-alert;
}
.button--outline-disabled {
  color: $color-hint;
  border-color: $color-hint;
}

// Alerts

.notice {
  font-size: 0.875rem;
  text-align: center;
  width: 100%;
  max-width: 100%;
  padding: 8px 20px;
  border: 1px solid;
  border-radius: 4px;
  margin-bottom: 20px;
  @media (max-width: 768px) {
    font-size: 0.85rem;
  }
  @media (max-width: 470px) {
    font-size: 0.75rem;
    padding: 30px;
  }
}
.notice--primary {
  background: #e5f2ff;
  color: $color-blue;
  border-color: $color-blue;
}
.notice--success {
  background: #f2ffe5;
  color: #7da431;
  border-color: #7da431;
}
.notice--warning {
  background: #fff8e5;
  color: $color-accent-2;
  border-color: $color-accent-2;
}
.notice--alert {
  background: #ffe5e5;
  color: $color-alert;
  border-color: $color-alert;
}
.notice--disabled {
  background: $color-disabled;
  color: $color-hint;
  border-color: $color-hint;
}

// Notices
.notice--outline {
  font-size: 1rem;
  text-align: center;
  width: 100%;
  max-width: 100%;
  padding: 35px;
  border: 1px solid;
  border-radius: 4px;
}
.notice--outline-primary {
  background: transparent;
  color: $color-blue;
  border-color: $color-blue;
}
.notice--outline-success {
  background: transparent;
  color: #7da431;
  border-color: #7da431;
}
.notice--outline-warning {
  background: transparent;
  color: $color-accent-2;
  border-color: $color-accent-2;
}
.notice--outline-alert {
  background: transparent;
  color: $color-alert;
  border-color: $color-alert;
}
.notice--outline-disabled {
  background: transparent;
  color: $color-hint;
  border-color: $color-hint;
}

// Text Colors

.text--primary {
  color: $color-blue;
  &:hover {
    color: $color-blue;
  }
  a {
    color: $color-blue;
    &:hover {
      color: $color-blue;
    }
  }
}
.text--success {
  color: $color-accent;
  &:hover {
    color: $color-accent;
  }
  a {
    color: $color-accent;
    &:hover {
      color: $color-accent;
    }
  }
}
.text--warning {
  color: $color-accent-2;
  &:hover {
    color: $color-accent-2;
  }
  a {
    color: $color-accent-2;
    &:hover {
      color: $color-accent-2;
    }
  }
}
.text--alert {
  color: $color-alert;
  &:hover {
    color: $color-alert;
  }
  a {
    color: $color-alert;
    &:hover {
      color: $color-alert;
    }
  }
}
.text--disabled {
  color: $color-disabled;
  a {
    color: $color-disabled;
  }
}
.text--hint {
  color: $color-hint;
  a {
    color: $color-hint;
  }
}
.text--white {
  color: $color-white;
  &:hover {
    color: $color-white;
  }
  a {
    color: $color-white;
    &:hover {
      color: $color-white;
    }
  }
}
.text--black {
  color: $color-black;
  &:hover {
    color: $color-black;
  }
  a {
    color: $color-black;
    &:hover {
      color: $color-black;
    }
  }
}
.text--navy {
  color: $color-black;
  &:hover {
    color: $color-black;
  }
  a {
    color: $color-black;
    &:hover {
      color: $color-black;
    }
  }
}

// Badges

.badge--hired {
  position: absolute;
  right: 8px;
  top: 4px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  font-style: normal;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  &:before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 0.875rem;
    content: '\f3ed';
    cursor: pointer;
  }
}
.badge--hired-2 {
  right: -2px;
  top: 10px;
}
.badge--certified {
  position: absolute;
  right: 60px;
  top: 4px;
  // background: white;
  border-radius: 50%;
  cursor: pointer;
  font-style: normal;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  &:before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 0.875rem;
    content: '\f0a3';
    cursor: pointer;
  }
}
.badge--certified-2 {
  left: -8px;
  top: 10px;
}
